[submodule "src/third_party/zxing"]
	path = src/third_party/zxing
	url = https://github.com/ARISGames/zxing.git
[submodule "src/third_party/PKRevealController"]
	path = src/third_party/PKRevealController
	url = https://github.com/ARISGames/PKRevealController.git
